<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cluckr Welcome Page</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>

    <script src="/scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark text-light">
        <a class="navbar-brand" href="/posts/new">🐓</a>

        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item" class="btn btn-outline-dark text-light">
            <a class="nav-link" href="/posts/new">New Cluck</a>
          </li>

          <li class="nav-item" class="btn btn-outline-dark text-light">
            <a class="nav-link"  href="/posts">Clucks!</a>
          </li>

          <% if (username) { %>
          <span class="navbar-text text-light mr-2">
              Signed in as <%= username %>
          </span>
      
          <form action="/sign_out" method="POST" class="form-inline" class="btn btn-outline-dark text-light">
              <button class="btn btn-outline-light" type="submit">Sign Out</button>
          </form>
      
          <% } else { %>
          <li class="nav-item" class="btn btn-outline-dark text-light">
            <a class="nav-link" href="/sign_in">Sign In Page</a>
          </li>
          <% } %> 
          
        </ul>
      </div>

    </nav>
</header>