<%- include("./partials/header")%>

    <% if (username) { %>
    <span class="navbar-text text-light mr-2">
        <%= username %>
    </span>

    <form action="/sign_out" method="POST" class="form-inline">
        <button class="btn btn-outline-light" type="submit">Sign Out</button>
    </form>

    <% } else { %>
    <form action="/sign_in" method="POST">
        <br>
        <input class="form-control mr-2" name="username" placeholder="Username">
        <br>
        <button class="btn btn-outline-dark" type="submit">Sign In</button>
    </form>
    <% } %>

<%- include("./partials/footer")%>