<%- include("./partials/header")%>

<form action="/posts" method="POST">

    <div class="form-group">
        <textarea
            name="content"
            cols="60"
            rows="5"
            placeholder="Whatchoo cluckin’ 'bout?"
        ></textarea>
    </div>
    <div class="form-group">
        <input
            type="url"
            class="form-control"
            name="imageUrl"
            placeholder="e.g. http://i.imgur.com/qM6KaEy.gifv"
        >
    </div>

  <input type="submit" value="Cluck!" class="btn btn-outline-dark text-light">
</form>

<%- include("./partials/footer")%>